################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opendb
*.aps
*.rc
*.vcxproj
*.filters
*.user
*.h
*.db
*.sln
/Lua与C交互学习/Debug
/Lua与C交互学习/Lua与C交互学习/Debug/Lua与C交互学习.tlog
/Lua与C交互学习/Lua与C交互学习/Debug/Lua与C交互学习.log
/Lua与C交互学习/Lua与C交互学习/Debug/Lua与C交互学习.res
/Lua与C交互学习/Lua与C交互学习/Debug/main.obj
/Lua与C交互学习/Lua与C交互学习/Debug/vc140.idb
/Lua与C交互学习/Lua与C交互学习/Debug/vc140.pdb
/Lua与C交互学习/压入和获取/Debug/Lua与C交互学习.tlog
/Lua与C交互学习/压入和获取/Debug
/Lua与C交互学习/交互/Debug
